[submodule "gramofo-backend"]
	path = gramofo-backend
	url = https://github.com/DerYeger/gramofo-backend
[submodule "gramofo-frontend"]
	path = gramofo-frontend
	url = https://github.com/DerYeger/gramofo-frontend
